@charset "UTF-8";
* {
  position: relative;
  font-family: "Hind Vadodara", 微軟正黑體;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

label {
  cursor: pointer;
}

.daybox {
  width: 50%;
  max-width: 400px;
  background-color: #f3f3f3;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.daybox:hover .bottom {
  height: 100px;
}
.daybox:hover .dayweather {
  opacity: 1;
  top: 0px;
}

.rain {
  width: 2px;
  height: 10px;
  left: 45px;
  bottom: 15px;
  position: absolute;
  animation: raindrop 2s infinite linear;
  background-color: #4DACFF;
}

.rain2 {
  left: 70px;
  bottom: 20px;
  animation-delay: -0.4s;
}

.rain3 {
  left: 30px;
  bottom: 20px;
  animation-delay: -0.7s;
}

@keyframes raindrop {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(50px);
    opacity: 0%;
  }
}
.top {
  height: 330px;
  background: linear-gradient(20deg, #19283D 0%, #1D678F 95%);
  background-size: 100% 300%;
  animation: daylight 20s both;
  border-radius: 5px 5px 0px 0px;
}
@keyframes daylight {
  0% {
    background-position: 100% 30%;
  }
  100% {
    background-position: 100% 100%;
  }
}
.top .tensvg {
  width: 100%;
}
.top .tensvg polyline {
  stroke: #f3f3f3;
  stroke-width: 1px;
  fill: none;
  opacity: 0.2;
}
.top .tensvg text {
  fill: #f3f3f3;
  transform: translateX(-10px) translateY(20px);
  font-size: 12px;
  opacity: 0.2;
}
.top .tensvg circle {
  fill: #f3f3f3;
  opacity: 0.2;
}
.top .moon {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  box-shadow: 15px -15px;
  position: absolute;
  left: 50px;
  top: 100px;
  animation: moonmove 20s infinite;
}
@keyframes moonmove {
  0% {
    box-shadow: 15px -15px #FFD633;
    transform: translateX(-15px) translateY(15px);
  }
  100% {
    box-shadow: -30px 30px #FFD633;
    transform: translateX(30px) translateY(-30px);
  }
}

.cloud {
  position: absolute;
  left: 200px;
  bottom: 50px;
  border-radius: 20px;
  animation: cloudrift 4s infinite;
  background-color: #f3f3f3;
  width: 100px;
  height: 36px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
.cloud:before, .cloud:after {
  background-color: #f3f3f3;
  border-radius: 100%;
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
}
.cloud:before {
  left: 16px;
  top: -30px;
}
.cloud:after {
  left: 40px;
  top: -20px;
}

@keyframes cloudrift {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.bottom {
  height: 10px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
  transition-duration: 2s;
}
.bottom .dayweather {
  display: inline-block;
  width: calc(100% / 7 - 5px);
  text-align: center;
  opacity: 0;
  top: 20px;
  transition: 0.5s;
}
.bottom .dayweather h3 {
  font-size: 8px;
  color: rgba(51, 51, 51, 0.6);
  letter-spacing: 1px;
  font-weight: 400;
}
.bottom .dayweather svg {
  width: 100%;
  max-width: 40px;
  height: 40px;
}
.bottom .dayweather svg .sun {
  fill: #FFD633;
  stroke: rgba(255, 214, 51, 0.5);
  stroke-width: 30px;
  stroke-dasharray: 5px;
}
.bottom .dayweather svg .rain {
  stroke: #4DACFF;
}
.bottom .dayweather svg .cloud {
  fill: #ccc;
}

.dayweather:nth-child(1) {
  transition-delay: 0.2s;
}

.dayweather:nth-child(2) {
  transition-delay: 0.3s;
}

.dayweather:nth-child(3) {
  transition-delay: 0.4s;
}

.dayweather:nth-child(4) {
  transition-delay: 0.5s;
}

.dayweather:nth-child(5) {
  transition-delay: 0.6s;
}

.dayweather:nth-child(6) {
  transition-delay: 0.7s;
}

.dayweather:nth-child(7) {
  transition-delay: 0.8s;
}

.text_area {
  display: inline-block;
  position: absolute;
  bottom: 25px;
  left: 25px;
  color: #f3f3f3;
}
.text_area .temperature {
  font-size: 75px;
  line-height: 70px;
}
.text_area .infos {
  font-size: 13px;
  opacity: 0.5;
}

.moon, .cloud {
  transition: 0.5s;
}

.tensvg circle {
  transition: 0.5s;
}
.tensvg polyline {
  transition: 0.5s 0.3s;
}
.tensvg text {
  transition: 0.5s 1s;
}

#switch_night {
  display: none;
}

#switch_night:checked + .top .moon, #switch_night:checked + .top .cloud {
  opacity: 0.2;
}
#switch_night:checked + .top .tensvg polyline, #switch_night:checked + .top .tensvg circle, #switch_night:checked + .top .tensvg text {
  opacity: 1;
}